<main class="notification_page">
    <div class="toolbar">
        <mdl-button mdl-button-type="icon" mdl-colored="primary" (click)="deleteItem()" *ngIf="canShowDelete">
            <mdl-icon>delete</mdl-icon>
        </mdl-button>
    </div>
    <ul *ngFor="let notification of notificationList" class="notification_list" [ngClass]="{'active' : notification.selected}">
        <li>
            <mdl-checkbox [(ngModel)]="notification.selected" (change)="showDelete()">
            </mdl-checkbox>
        </li>
        <li [ngSwitch]="notification.type">
            <mdl-icon *ngSwitchCase="1">face</mdl-icon>
            <mdl-icon *ngSwitchCase="2">list</mdl-icon>
            <mdl-icon *ngSwitchCase="3">chat</mdl-icon>
        </li>
        <li class="notification_name">
            {{notification.message}}
        </li>
    </ul>
    <div *ngIf="notificationList.length==0" class="no_results">
        No notifications found.
    </div>
</main>
