<button class="" (click)="deleteItem()" *ngIf="canShowDelete">
    <mdl-icon>delete</mdl-icon>
</button>
<main class="notification_page">
    <ul *ngFor="let notification of notificationList" class="notification_list">
        <li>
            <mdl-checkbox [(ngModel)]="notification.selected" (change)="showDelete()">
            </mdl-checkbox>
        </li>
        <li>
            <mdl-icon>face</mdl-icon>
        </li>
        <li class="notification_name">
            {{notification.message}}
        </li>
    </ul>
</main>
