.notification_page {
    .toolbar {
        height: 35px;
        padding-top: 10px;
        padding-right: 30px;
        display: flex;
        flex-direction: row-reverse;
    }

    .no_results {
        margin-left: 25px;
        color: red;
        font-size: 16px;
    }

    ul {
        display: flex;
        flex-direction: row;
        height: 53px;
        align-items: center;
        background: #fff;
        margin: 5px;

        li {
            list-style: none;
            width: 5%;

            &:nth-child(2) {
                padding-top: 10px;
            }
        }

        li.notification_name {
            min-width: 80%;
        }
    }

    ul.active {
        background: #f0f8ff;
    }
}
