<div *ngIf="task" class="task_details_wrapper">
    <!-- <button type="button" (click)="goBack()">Back</button> -->
    <div class="task_identifiers">
        <h3 class="task_name">{{task.name}}</h3>
        <p class="task_description">{{task.taskDesc}}</p>
    </div>
    <div class="task_details row">
        <div class="start_date">
            <b>Start date</b>: {{task.createDate}}
        </div>
        <div class="end_date">
            <b>End date</b>: {{task.dueDate}}
        </div>
        <div class="checklist_number">
            <b>No. of checklists</b>: {{task.checkList.length}}
        </div>
        <div class="task_completion">
            <b>{{task.PercentageCompleted}}%</b> Completed
        </div>
    </div>
    <div class="checklist_and_initiative">
        <mdl-tabs mdl-ripple mdl-tab-active-index="0">
            <mdl-tab-panel mdl-tab-panel-title="Checklists">
                Checklists
            </mdl-tab-panel>
            <mdl-tab-panel mdl-tab-panel-title="Initiatives">
                Initiatives
            </mdl-tab-panel>
        </mdl-tabs>
    </div>
</div>
