<!-- <filter-data (search)="searchTable($event)"></filter-data> -->

<main class="task_list_wrapper">
    <mdl-tabs mdl-ripple mdl-tab-active-index="0">
        <mdl-tab-panel mdl-tab-panel-title="Home">
            <div class="task_header">
                <div class="task_header_name" *ngFor="let head of taskHeadNames">{{head}}</div>
            </div>
            <div class="task_listing" *ngFor="let task of taskList" (click)="gotoDetail(task.taskId)">
                <div class="task_data">{{task.name}}</div>
                <div class="task_data">{{task.dueDate| date:'fullDate'}}</div>
                <div class="task_data">{{task.burnedHours}}</div>
                <div class="task_data {{task.status}}">{{task.status}}</div>
                <div class="task_data percentage">{{task.PercentageCompleted}}%</div>
            </div>
        </mdl-tab-panel>
        <mdl-tab-panel mdl-tab-panel-title="Owned Task">
            <div class="task_header">
                <div class="task_header_name" *ngFor="let head of taskHeadNames">{{head}}</div>
            </div>
            <ng-template ngFor let-task [ngForOf]="taskList">
                <div class="task_listing" *ngIf="!task.isAssigned" (click)="gotoDetail(task.taskId)">
                    <div class="task_data">{{task.name}}</div>
                    <div class="task_data">{{task.dueDate| date:'fullDate'}}</div>
                    <div class="task_data">{{task.burnedHours}}</div>
                    <div class="task_data {{task.status}}">{{task.status}}</div>
                    <div class="task_data percentage">{{task.PercentageCompleted}}%</div>
                </div>
            </ng-template>
        </mdl-tab-panel>
        <mdl-tab-panel mdl-tab-panel-title="Assigned Task">
            <div class="task_header">
                <div class="task_header_name" *ngFor="let head of taskHeadNames">{{head}}</div>
            </div>
            <ng-template ngFor let-task [ngForOf]="taskList">
                <div class="task_listing" *ngIf="!!task.isAssigned" (click)="gotoDetail(task.taskId)">
                    <div class="task_data">{{task.name}}</div>
                    <div class="task_data">{{task.dueDate| date:'fullDate'}}</div>
                    <div class="task_data">{{task.burnedHours}}</div>
                    <div class="task_data {{task.status}}">{{task.status}}</div>
                    <div class="task_data percentage">{{task.PercentageCompleted}}%</div>
                </div>
            </ng-template>
        </mdl-tab-panel>
    </mdl-tabs>
</main>
