.error {
    color: red;
    font-size: 14px;
}

.main_body {
    height: 100%;

    .login_box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 150px);

        .login_bg {
            width: 500px;
            min-height: 350px;
            height: 400px;
            background-color: #fff;
            box-shadow: 0 1px 18px rgba(43, 59, 93, .29);
            border-radius: 5px;
            justify-content: center;

            .login_header {
                padding: 0;
                margin: 0;
                font-size: 25px;
                text-align: center;
                color: #2049ef;
                margin-bottom: 25px;
                padding-top: 25px;
            }

            .form_wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }
}
